{% extends "layout.html" %}
{% block content %}
<div dir="ltr">
    <div class="jumbotron">
        <h1> Data Explanation</h1>
    </div>

    <div>
        <h3>Ships are some of the oldest viacles still being used to this days</h3>
        <p>
            Warships in particular had been around for thousands of years by now, and their technologies had changed over time completely.
            the most ancient ships were small and were made of small branches and straw. They used very small sails and mostly were
            pushed by a long stick through rivers but they could not sail at seas.
            these boats weren't used for battle but for transport goods to the villages such as fishes, wood, and more.
            other boats used oars, but they too weren't big.
            the earliest ships of the Bronze Age were much bigger and sturdier then the ancient boats and they were actually an earlier version of the Galley,
            these ships used muscle power to sail in the waters and they could even sail close to the shore and not only in rivers.
            Then came the symbolic Galley, and it was bigger than the earlier Galley and much taller. They had more tiers of rowers and they even used sails to
            navigate more easily. They used a tactic of ramming the opponent ship to sink it, archers, and boarding tactics to get onto the ship with
            close-combat warriors. The late Galley could not sail in the high seas but it could sail much farther from the shores.
            __________________________________________________________________________________________________________________________
        </p>
        <p>
            At the Middle - Ages, a ship that sailed with big sails and used less oars, but it was shorter then the Galley but also faster was invented. The people the
            invented this ship were the Nordic tribes of Scandinavia. It was less of a warship and more of a transport vassal for the Vikings.
            It could sail at the high seas and survive tougher storms.
            During the Middle - Ages, the ship builders started to discover the better sailing method of wind power and the use of sails was invented.
            At the Renaissance era, a new type of ship sailed the oceans and high seas, it was taller then any ship so far, and it had huge masts that were so tall
            that it had multiple sails on each mast. This type of ship called Galleon and when Gun Powder weapons were used more, the Galleon started to carry
            cannons instead of archers.
            At the 18th century, the Ship of the line were popular, and it was an upgraded version of the Galleon, but it carried more cannons.
            ___________________________________________________________________________________________________________________________
        </p>
        <p>
            Till now, all the ships were made of wood and were powered by wind or muscle power, but at the 19th century the ships were covered or made of steal plates
            and it was powered by steam power. These ships also used cannons with explosive ammunition, this ship was the Ironclad.
            At 1906, the ship Dreadnought was launched, and it changed the entire methods of ship buildings. It was enormous, and it was armed with 12 secondary cannons
            and 10 main cannons that were mounted on 5 towers. The Dreadnought was the firs of many battleships that influenced the destroyer and the cruiser type ships.
            After the invention of the Dreadnought, the Aircraft carrier, Destroyers, Corvette and Missile Cruiser were built too.
            ___________________________________________________________________________________________________________________________
        </p>
        <p>
            The Data Base I used has all the United States Warships from WWI to the modern era and I chose this Data Base because I think these are the most interesting because they
            are using a variety of different technologies and even some of the Aircraft carriers uses a nuclear engines.
            Thank You For Reading!

            ___________________________________________________________________________________________________________________________
        </p>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box
            }

            body {
                font-family: Verdana, sans-serif;
                margin: 0
            }

            .mySlides {
                display: none
            }

            img {
                vertical-align: middle;
            }

            /* Slideshow container */
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

                /* On hover, add a black background color with a little bit see-through */
                .prev:hover, .next:hover {
                    background-color: rgba(0,0,0,0.8);
                }

            /* Caption text */
            .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* The dots/bullets/indicators */
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

                .active, .dot:hover {
                    background-color: grey;
                }

            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {
                .prev, .next, .text {
                    font-size: 11px
                }
            }
        </style>
        </>
        <br />
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2019/4/27/26aa5d43c8cb41859a634bb4c497dca9_18.jpg" style="width:1000px; height:600px">
                <div class="text">Aircraft Carrier</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="https://m.economictimes.com/thumb/msid-69879830,width-1200,height-900,resizemode-4,imgsize-169169/to-ensure-security-of-indian-vessels-navy-deploys-warships-in-gulf-of-oman-persian-gulf.jpg" style="width:1000px; height:600px">
                <div class="text">Destroyer</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="https://img2.chinadaily.com.cn/images/201907/29/5d3e3529a310d830455337bd.jpeg" style="width:1000px; height:600px">
                <div class="text">Naval Fleet</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br />
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <br />
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        </script>
        <br />
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td> Data Base name </td>
                <td> Explenation</td>
                <td> Link</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Warships Throughout Time</td>
                <td>Warship Data Base about ships from WWI to these days</td>
                <td> <a href="{{ url_for('dataSet') }}">Link to the DataBase</a></td>
            </tr>
        </tbody>
    </table>
</div>
        {% endblock %}