{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 style="color:blue">My Web Project</h1>
    <p class="lead">
        My photo album project is about "The History of Warships" and it contains six pictures of the development
        of newer and newer naval technology. every picture shows a ship that is the first of its kind, when it was operated,
        the material it was built from and its primary arming method.
    </p>
    <p><a class="btn btn-default" href="https://he.wikipedia.org/wiki/%D7%90%D7%95%D7%A0%D7%99%D7%99%D7%AA_%D7%9E%D7%9C%D7%97%D7%9E%D7%94" style="background-color:royalblue; color:white">Learn more about warships &raquo;</a></p>
    <p align="left"><img src="http://www.super-hobby.fi/zdjecia/7/6/3/22835_rd.jpg" style="width:1000px;height:300px;" /></p>
</div>



{% endblock %}